@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f8f6f6;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #5d3737;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(245, 202, 202);
}
html::-webkit-scrollbar-thumb {
  background: #966666;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  font-size: medium;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: right; /* This should be 'flex' or 'block' */
  align-items: center;
  justify-content: right; /* This should be 'flex-end' */
  padding: 1.7rem 70%; /* Padding value is quite large, consider using a smaller percentage or fixed value */
  height: 6rem;
  background-color: #fefefefc; /* There seems to be an extra 'c' at the end of the color value */
}

section {
  min-height: 100vh;
  padding: 10rem 1%;
}

.heading {
  font-size: 4rem;
  color: rgb(99, 47, 47);
  font-weight: 800;
  text-align: center;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 2.5rem;
}

header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #d4a6a6;
  border-bottom: 0.2rem solid #d4a6a6;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts */
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(247, 243, 243);
  display: none; /* Initially hidden on larger screens */
}

@media (max-width: 768px) {
  #menu {
    display: block; /* Displayed on screens 768px and below */
  }
  
  header .navbar {
    position: fixed;
    top: 6.5rem; /* Adjust based on your header height */
    right: -120%; /* Off-screen initially */
    width: 75%; /* Adjust as needed */
    height: 100%; /* Full height of the viewport */
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
    transition: right 0.3s ease; /* Smooth transition for the navbar slide-in */
  }

  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }

  header .navbar ul li {
    text-align: center; /* Center items vertically */
    width: 100%; /* Full width of the navbar */
    margin: 1rem 0; /* Margin between list items */
    border-radius: 0.5rem; /* Rounded corners for list items */
    max-width: 26rem; /* Max width for list items */
  }

  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left; /* Align text to the left */
    color: #fff;
    font-size: 2rem;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }

  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #f4f5fa; /* Highlight effect */
  }

  .fa-times {
    transform: rotate(180deg); /* Rotate close icon */
  }

  header .navbar.nav-toggle {
    right: 0; /* Slide navbar into view */
  }
}
/* hamburger icon ends */

/* Style for the home section */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  position: relative;
  overflow: hidden;
}

/* Style for the content container */
.content {
  text-align: center;
  max-width: 100%;
  padding-top: 15px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.content h1, .content h2 {
  margin: 0; /* Ensure no default margins */
}

.home h1 {
  font-size: 100px; /* Adjust as needed */
  text-align: center;
  font-weight: bold; /* Use font-weight for bold text */
  padding-left: 170px; /* Adjust spacing from the left */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #642d2d;
  margin: 0; /* Ensure no default margins */
}

/* Style for the project section */
.projectpage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-right: 10px; /* Adjust spacing */
  padding-left: 200px; /* Adjust spacing */
}

.projectpage .btn {
  font-size: 20px; /* Font size */
  font-weight: bold; /* Bold text */
  padding: 10px; /* Padding inside the button */
  color: #fdf7f7; /* Text color */
  background-color: #a77b7b; /* Background color */
  width: 200px; /* Button width */
  border-radius: 1px; /* Border radius */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Box shadow for depth */
  margin-right: 20px; /* Adjust spacing between buttons */
}

.projectpage .btn:last-child {
  margin-right: 0; /* Remove right margin from the last button */
}

/* Style for the typing text */
.typing-text {
  font-size: 30px; /* Font size */
  text-align: center; /* Center text */
  font-style: italic; /* Italic text */
  color: #cca8a8; /* Text color */
  padding-left: 200px; /* Adjust spacing */
}

/* Style for the socials section */
.socials {
  position: absolute;
  bottom: 80px; /* Position from the bottom */
  left: 15px; /* Position from the left */
}

/* Style for the social icons in vertical arrangement */
.social-icons {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 40px; /* Adjust spacing */
}

/* Style for each social icon */
.social-icons li {
  margin-bottom: 10px; /* Spacing between icons */
}

/* Style for the social icon itself */
.social-icons a {
  font-size: 2.5rem; /* Icon size */
  display: inline-block;
  line-height: 44px; /* Vertical alignment */
  color: #f9f6f6; /* Text color */
  background-color: #371b1b; /* Background color */
  width: 38px; /* Icon width */
  height: 38px; /* Icon height */
  text-align: center;
  border-radius: 100%; /* Circle shape */
  transition: all 0.2s linear; /* Smooth transition */
}

/* Hover states for social icons */
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff; /* Text color on hover */
  background-color: #0685da; /* Background color on hover */
}

.social-icons a.github:hover {
  background-color: #0e0e0e; /* Custom color for GitHub */
}

.social-icons a.linkedin:hover {
  background-color: #007bb6; /* Custom color for LinkedIn */
}

.social-icons a.instagram:hover {
  background-color: #ee00da; /* Custom color for Instagram */
}

.social-icons a.youtube:hover {
  background-color: #ee0000; /* Custom color for YouTube */
}

/* Style for the image container */
.image {
  max-width: 40%; /* Maximum width */
  align-items: left; /* Align items to the left */
  padding-top: 50px; /* Adjust spacing */
  padding-right: 55px; /* Adjust spacing */
  padding-bottom: 10px; /* Adjust spacing */
}

.image2 {
  max-width: 50%; /* Maximum width */
  text-align: right; /* Align text to the right */
}

/* Style for the image */
.tilt {
  max-width: 80%; /* Maximum width */
  height: auto; /* Automatic height */
  border-radius: 50%; /* Circular shape */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .home {
    flex-direction:row; /* Stack items vertically */
    text-align: center; /* Center text */
  }

  .content, .image {
    max-width: 100%; /* Full width */
  }

  .socials {
    position: top; /* Remove absolute positioning */
    margin-top: 10px; /* Adjust spacing */
  }
}


/* About section starts */
.about {
  padding: 50px 0; /* Padding top and bottom */
}

.about .container {
  max-width: 100%; /* Ensure container stretches to full width */
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .col-md-6 {
  flex: 50%; /* Adjust width calculation to account for margin */
  margin: 0 -120px; /* Adjust margin between columns */
  box-sizing: border-box;
  max-width: 50%; /* Adjust max-width to match flex calculation */
}

.about .image2 img {
  width: auto;
  max-width: 100%; /* Ensure image doesn't exceed container */
  height: auto;
  border-radius: 5px; /* Rounded corners for the image */
}

.about .content {
  text-align: justify; /* Justify text */
  margin-bottom: 100px; /* Spacing at the bottom */
}

.about h2.heading {
  font-size: 30px; /* Heading font size */
  margin-bottom: 20px; /* Spacing below heading */
}

.about h3 {
  font-size: 40px; /* Sub-heading font size */
  margin-bottom: 18px; /* Spacing below sub-heading */
  color: #642d2d; /* Text color */
}

.about p {
  font-size: 19.5px; /* Paragraph font size */
  font-style: italic; /* Italic style */
  line-height: 1.6; /* Line height */
  color: #333; /* Text color */
  margin-bottom: 8px; /* Spacing below paragraph */
}

.about a {
  color: #e17c7c; /* Link color */
  text-decoration: none; /* Remove underline */
}

.about a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .about .row {
    display: flex;
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  .about .col-md-6 {
    width: 100%; /* Full width for each column on smaller screens */
    margin-bottom: 30px; /* Adjust spacing between columns */
  }
}


/* Project section starts */
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbe5e5;
  min-height: 100vh;
  flex-direction: column; /* Added to stack the elements vertically */
}

.heading {
  text-align: center; /* Center-align the heading */
  margin-top: -20px; /* Adjust top margin as needed */
  margin-bottom: 10px; /* Adjust bottom margin as needed */
}

.box-container {
  max-width: 1300px; /* Set maximum width for the container */
  width: 100%; /* Ensure container stretches to full width */
}

.slider-wrapper {
  position: relative; /* Relative positioning for slider wrapper */
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #8a5757;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(50%);
}

.slider-wrapper .slide-button:hover {
  background: #f3e4e4;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px; /* Position previous slide button */
}

.slider-wrapper .slide-button#next-slide {
  right: -20px; /* Position next slide button */
}

.slider-wrapper .project-list {
  display: grid;
  gap: 18px;
  font-size: 0; /* Remove whitespace between grid items */
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar */
  grid-template-columns: repeat(10, 1fr); /* Adjust grid columns as needed */
}

.slider-wrapper .project-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.slider-wrapper .project-list .image-item {
  position: relative;
  width: 400px;
  height: auto;
  overflow: hidden;
}

.slider-wrapper .project-list .image-item img {
  width: 100%; /* Ensure images fill their containers */
  height: auto; /* Maintain aspect ratio */
}

.image-item .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(198, 131, 131, 0.75);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.image-item .image-content:hover {
  opacity: 1; /* Show image content on hover */
}

.box-container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px; /* Adjust track height on hover */
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 2px;
  width: 50%;
  background: #804949;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px; /* Adjust thumb height when active */
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

@media (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important; /* Hide slide buttons on smaller screens */
  }
  .slider-wrapper .project-list {
    gap: 10px; /* Adjust gap between grid items */
    margin-bottom: 15px; /* Adjust margin at the bottom */
  }
  .slider-wrapper .project-list .image-item {
    width: 280px; /* Adjust image item width */
    height: 180px; /* Adjust image item height */
    text-align: center;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%; /* Adjust scrollbar thumb width */
  }
}

.text {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-content .btn {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  margin-right: 10px;
  color: #fff;
  background-color: #a77b7b;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.image-content .btn:last-child {
  margin-right: 0; /* Remove right margin from the last button */
}

/* Style for buttons */
.projects .btn {
  text-align: center;
  border: 2px solid maroon;
  background-color: transparent;
  color: maroon;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  margin-bottom: 50px; /* Bottom margin for buttons */
}

.projects .btn:hover {
  background-color: maroon;
  color: white;
}

.projects p {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 5px;
}
/* ends */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); /* Optional: Add a background overlay */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Center the modal vertically and horizontally */
  padding: 20px;
  width: 80%;
  max-width: 800px; /* Optional: Max width for larger screens */
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.modal-content p {
  text-align: justify;
  margin-bottom: 10px;
}

.modal-content h2 {
  font-size: 36px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.modal-content h5 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.modal-content img {
  max-width: 100%;
  max-height: 300px; /* Limit image height */
  margin: 0 auto 20px; /* Center image and add bottom margin */
  display: block;
}

.modal-content .description {
  text-align: left;
  margin-bottom: 20px;
}

.modal-content .buttons {
  display: flex;
  justify-content: center; /* Center the buttons */
  margin-top: 20px;
}

.modal-content .btn {
  border: 2px solid maroon;
  background-color: transparent;
  color: maroon;
  padding: 10px 20px;
  margin: 0 10px; /* Add margin between buttons */
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content .btn:hover {
  background-color: maroon;
  color: white;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3e3d3d;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%; /* Adjust width for smaller screens */
  }
  .modal-content h2 {
    font-size: 28px;
  }
  .modal-content h5 {
    font-size: 18px;
  }
  .modal-content img {
    max-height: 200px;
  }
}

/* Disable scrolling when modal is open */
body.modal-open {
  overflow: hidden;
}



/* contact section starts */
.contact {
  background: #fbe5e5;
  min-height: 60vh;
  text-align: center;
  padding-top: 150px;
}
.contact .content {
  display: flex;
  align-items: center;
}

.left-section {
  max-width: 40%;
  padding-right: 15rem;
}

.contact .left-section h3 {
  font-size: 7rem; /* Adjust the font size as needed */
  color: #471818;
  margin-left: 1rem;
  text-align: left;
  white-space: nowrap; /* Ensure text does not wrap */
  text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

.contact .left-section h4 {
  font-size: 30px; /* Adjust the font size as needed */
  color: #a46767; /* Adjust the color as needed */
  margin-top: 1px; /* Add some spacing between the two lines */
  margin-left: 10px;
  white-space: nowrap;
  text-align: left;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #fbe5e5;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(167, 3, 3);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(167, 3, 3);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #642d2d;
  box-shadow: 0px 5px 10px #642d2d;
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #b85d5df5;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
    padding-top: 100px; /* Adjust padding for smaller screens */
  }

  .contact .left-section {
    max-width: 100%; /* Ensure full width on smaller screens */
    padding-right: 0; /* Remove right padding */
    text-align: center; /* Center align text on smaller screens */
  }

  .contact .left-section h3 {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
    margin-left: 0; /* Remove left margin for centered alignment */
  }
  .contact .left-section h4 {
    font-size: 2rem; /* Adjust font size for smaller screens */
    margin-left: 0; /* Remove left margin for centered alignment */
    white-space: inherit;
  }

  .contact .container .content {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .contact .content .image-box {
    max-width: 100%; /* Take full width on smaller screens */
    margin: 0; /* Remove margin */
  }

  .contact .content form {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0; /* Remove right margin */
  }
}
/* contact section media queries ends */
/* contact section ends */

/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  padding-bottom: 0;
  background: #642d2d;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
  .footer .box-container .box .share a {
    padding: 1.2rem;
  }
}
/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  body {
    padding-right: 0;
  }
  section {
    padding: 2rem;
  }
}
/* common media queries ends*/

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
/* scroll top ends */
